<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gulp-html</title>
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <div class="container">
        <div class="box">
            <img src="../assets/gulp-white-text.svg" alt="gulp">
            <p class="desc">用自动化构建工具增强你的工作流程！</p>
            <div id="button" class="btn">官方文档</div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>